{% extends 'base.html' %}
{% block title %}
    Upload Broadcast
{% endblock %}

{% block content %}

<h2 class="mb-4">&#128250; Upload Video</h2>
<p>Please upload an MP4 video. The recommended size is 560x1118 pixels. If any other size is chosen, then there will be extra processing involved in rescaling this video. The uploaded videos are implied to be at 30FPS.</p>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" class="form-control-file mb-3" name="myfile">
    <button type="submit" class="btn btn-success btn-sm mb-3">Upload</button>
</form>

{% if uploaded_file_url %}
<p>File uploaded. Do you wish to go to the <a href="{% url 'player:main' %}">main broadcast?</a></p>
{% endif %}

{% if fail %}
<p>File upload failed. Please ensure you meet the requirements.</a></p>
{% endif %}


{% endblock %}